*{
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    background-color: #f5ebe0;
    font-family: Raleway, Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4{
    font-family: "Ogg Roman", Arial, Helvetica, sans-serif;
}


.header-logo{
    margin-left: 3rem;
}

nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

nav ul{
    float: right;
    margin-right: 3rem;
}


main{
    padding: 0 3rem;
    background-color: #edede9;
}

section{
    margin: 2rem auto;
    margin-top: 0;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(12, 1fr);
    grid-gap: 10px;
}

.card{
    padding: 1rem;
    background-color: #e3d5ca;
    margin: 1rem;
    border-radius: 1rem;
    grid-column: span 4;
    text-align: center;
}

.card:nth-child(5),
.card:nth-child(6) {
    grid-column: span 4;
}

.card:nth-child(4){
    grid-column: 3 / span 4;
}

.card-image{
    max-width: 100%;
    width: 24rem;
    height: 14rem;
    object-fit: cover;
    margin: auto;
    margin-bottom: 1rem;
}


.card-header, .card-content{
    max-width: 100%;
    width: 24rem;
    margin: 0 auto;
}

.card a{
    text-decoration: none;
    color: inherit;
}

.price{
    font-size: 1.25rem;
}

.flex {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
    flex-wrap: wrap;
}

button{
    cursor: pointer;
}

.add-to-cart{
    width: 70%;
    padding: 0.45rem 2rem;
    margin-right: 1rem;
    border-radius: 0.75rem;
    border: none;
    background-color: #edede9;
}

.add-to-cart:hover{
    background-color: #6c584c;
    color: #edede9;
    transition: 0.25s;
}

.favourite{
    background: none;
    border: none;
    font-size: 1.5rem;
    color: #6c584c;
}

.selected > .bi-heart{
    display: none;
}

.selected > .bi-heart-fill{
    display: block;
}

.bi-heart-fill{
    display: none;
}

.favourite:hover > .bi-heart{
    display: none;
}

.favourite:hover > .bi-heart-fill{
    display: block;
}

button{
    white-space: nowrap;
    margin-top: 1rem;
}

@media screen and (max-width: 785px){
    .header-logo{
        margin: auto;
    }

    nav{
        height: min-content;
        padding: 1rem 0 0.5rem 0;
        flex-wrap: wrap;
        display: flex;
    }

    nav ul{
        align-items: center;
        flex-wrap: wrap;
    }

    section{
        display: block;
    }

   .card-header{
    display: flex;
    justify-content: space-between;
    }

    .price{
        padding-right: 0;
    }

    .flex{
        margin: 0;
    }
    
}